<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="https://bioblue.com/wp-content/uploads/2020/08/Nu3-logo@2x_1.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function deshabilitaRetroceso() {
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button" //chrome
            window.onhashchange = function () { window.location.hash = "no-back-button"; }
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Obtén la URL de la página actual
            var currentPageURL = window.location.pathname;

            // Verifica si la URL corresponde a la página de inicio (Index)
            if (currentPageURL === "/Index") {
                // Si es la página de inicio, deshabilita el botón desplegable
                $('#dropdown').prop('disabled', true);
            } else {
                // Si es cualquier otra página, habilita el botón desplegable
                $('#dropdown').prop('disabled', false);
            }
        });
    </script>
</head>


<body onload ="deshabilitaRetroceso();">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/"><img src="~/images/Nu3-logo@2x_1 (1).png" class="w-25" /></a>

            </div>
            

        </nav>

    </header>

  

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .navbar {
        background-color: #92002d;
    }
    .btn1{
        background-color:#92002d;
        color: black;
        text-align: center;
        padding: 10px 20px;
        line-height: 20px;
        margin-top: 10px;
        border-radius: 10px;
    }
</style>