<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]Sistema de reportes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="toolbar" role="banner">
            <img src="./assets/Nu3-logo@2x_1.png" alt="Logo" class="logo">
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <!-- Otros elementos comunes, como pie de página o scripts -->
</body>
</html>

<style>

        .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #92002d;
        color: white;
        font-weight: 600;
    }

        .logo {
        width: 65px; /* Ajusta el ancho de tu imagen */
        height: auto;/* Mantén la proporción original */
        margin-left: 3 %;

    }
</style>