@page
@model Reportes.Pages.RConsumo.RConsumosIModel
@{
    ViewData["Title"] = "Consumo";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<body>

    <!-- Contenedor principal -->
    <div class="container mt-4">
        <div class="row">

            <!-- Col 1-->
            <div class="col-12 text-center">
                <h2><strong>Reporte de consumo de</strong></h2>
                <h2><strong>Alimento, Medicina y Diversos</strong></h2>
            </div>

            <!-- col2  -->
            <div class="col-md-4 col-sm-12 mt-2">
                <label for="selectBox text"><strong>Empresa:</strong></label>
            </div>
            <div class="col-md-8 col-sm-12 mt-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>- - Selección - -</option>
                    <option value="Op1-Empresa">Op 1</option>
                    <option value="Op2-Empresa">Op 2</option>
                    <!-- Add more options here -->
                </select>
            </div>

            <!-- col 3 -->
            <div class="col-md-4 col-sm-12 mt-2">
                <label for="selectBox text"><strong>Granja:</strong></label>
            </div>
            <div class="col-md-8 col-sm-12 mt-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>- - Selección - -</option>
                    <option value="Op1-Granja">Op 1</option>
                    <option value="Op2-Granja">Op 2</option>
                    <!-- Add more options here -->
                </select>
            </div>

            <!-- col 4 -->
            <div class="col-md-4 col-sm-12 mt-2">
                <label for="selectBox text"><strong>Fechas de entrada:</strong></label>
            </div>
            <div class="col-md-8 col-sm-12 mt-2">
                <input type="date" class="custom-date-input" />
            </div>

            <!-- col 5 -->
            <div class="col-md-4 col-sm-12 mt-2">
                <label for="selectBox text"><strong>Fechas de salida:</strong></label>
            </div>
            <div class="col-md-8 col-sm-12 mt-2">
                <input type="date" class="custom-date-input" />
            </div>

            <!-- col 6 -->
            <div class="col-12 mt-2">
            </div>


            <!-- col 9 -->
            <div class="col-md-12 col-sm-12 mt-2">
                <br />
            </div>

            <!-- col 7 -->
            <div class="col-12 col-md-12 col-sm-12 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        <strong>Presentar productos con stock CERO</strong>
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-12 col-sm-12 mt-2">
                <button type="button" class="btn btn-primary">Kardex de Alimento (Entradas/Salidas)</button>
            </div>

            <!-- col 9 -->
            <div class="col-md-12 col-sm-12 mt-2">
                <br />
            </div>

            <!-- col 8 -->
            <div class="col-12 mt-2">
                <label for="selectBox text">
                    <strong>
                        Nota: En este reporte No aplica el excluir los productos con stock CERO, es decir, se muestran Todos sin excepción
                    </strong>
                </label>
            </div>

            <!-- col 9 -->
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-primary">Solo consumo de Alimento (Salidas)</button>
            </div>

            <!-- col 10 -->
            <div class="col-12 mt-2">
            </div>
        </div>
    </div>

</body>
</html>



<style>

    .btn {
        color: white;
        background-color: #92002d;
        text-align: center;
        padding: 10px 20px;
        line-height: 12px;
    }

</style>