@page
@model Reportes.Pages.Menu.MenuIModel
@{
    ViewData["Title"] = "Menú";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]Sistema de reportes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>

    <!-- Col 1-->
    <div class="col-12 text-center">
        <h2><strong>Menú de reportes</strong></h2>
        <h2><strong></strong></h2>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Card 1 -->
                <div class="card d-flex flex-column mt-3 mb-3">
                    <a asp-page="/RMortalidades/RMortalidadesI">
                        <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                             class="card-img-top" alt="10px">
                        <div class="card-body flex-fill">
                            <h5 class="card-title"><strong>Reporte de mortalidades</strong></h5>
                            <br />
                            <a asp-page="/RMortalidades/RMortalidadesI" class="btn btn-primary">Click</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Card 2 -->
                <div class="card d-flex flex-column mt-3 mb-3">
                    <a asp-page="/RPesadas/RPesadasI">
                        <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                             class="card-img-top" alt="10px">
                        <div class="card-body flex-fill">
                            <h5 class="card-title"><strong>Reporte de pesadas</strong></h5>
                            <br />
                            <br />
                            <a asp-page="/RPesadas/RPesadasI" class="btn btn-primary">Click</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Card 3 -->
                <div class="card d-flex flex-column mt-3 mb-3">
                    <a asp-page="/RConsumo/RConsumosI">
                        <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                             class="card-img-top" alt="10px">
                        <div class="card-body flex-fill">
                            <h5 class="card-title"><strong>Reporte de consumo de alimento, medicina y diversos</strong></h5>
                            <a asp-page="/RConsumo/RConsumosI" class="btn btn-primary">Click</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Card 4 -->
                <div class="card d-flex flex-column mt-3 mb-3">
                    <a asp-page="/RCGranjas/RCGranjasI">
                        <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                             class="card-img-top" alt="10px">
                        <div class="card-body flex-fill">
                            <h5 class="card-title"><strong>Reporte de análisis cierre de granjas</strong></h5>
                            <br />
                            <a asp-page="/RCGranjas/RCGranjasI" class="btn btn-primary">Click</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>






<style>

    /* Personaliza la altura de las tarjetas */
    .card {
        height: 100%; /* Establece la altura deseada */
        width:auto;
    }


        .card:hover {
            /* Estilos cuando el mouse está sobre el card */
            transform: scale(1.1);
            /* Aumenta el tamaño del card al 110% */
        }


        /* Asegura que las imágenes se ajusten a la altura de las tarjetas sin distorsionarse */
        .card .img {
            max-height: 100%;
            width: auto;
        }

    .btn {
        color: white;
        background-color: #92002d;
        text-align: center;
        padding: 10px 20px;
        line-height: 12px;
        margin-button:i;
    }



    a {
        color: black; /* Cambia por el color que desees */
        text-decoration: none; /* Para eliminar el subrayado predeterminado en los enlaces */
    }


    .card {
        border: 2px solid #92002d;
        border-radius: 10px; /* Esto redondeará los bordes de la tarjeta */
        transition: box-shadow 0.3s; /* Agrega una transición para suavizar el efecto */
    }

        .card:hover {
            box-shadow: 0 0 10px #92002d; /* Agrega la sombra roja cuando se hace hover */
        }

</style>