@page
@model Reportes.Pages.Menu.MenuIModel
@{
    ViewData["Title"] = "Menú";
}


<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]Sistema de reportes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>


<body>

    <div class="col-md-12 col-sm-12 mt-2">
        <h2><strong><center>Menú de reportes</center></strong></h2>
    </div>

    <div class="col-md-12 col-sm-12 mt-2">
        <br />
    </div>

    <div class="container-fluid">
        <div class="card-container row justify-content-center">

            <!-- Card 1 -->
            <div class="card col-8 col-md-3 col-sm-12">
                <a asp-page="/RMortalidades/RMortalidadesI">
                <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                     class="card-img-top" alt="10px">
                <div class="card-body">
                    <h5 class="card-title"><strong>Reporte de mortalidades</strong></h5>
                    <br />
                    <br />
                    <a asp-page="/RMortalidades/RMortalidadesI" class="btn btn-primary">Click</a>
                </div>
                </a>
            </div>

            <!-- Card 2 -->
            <div class="card col-8 col-md-3 col-sm-12" asp-page="/RPesadas/RPesadasI">
                <a asp-page="/RPesadas/RPesadasI">
                <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                     class="card-img-top" alt="10px">
                <div class="card-body">
                    <h5 class="card-title"><strong>Reporte de pesadas</strong></h5>
                    <br />
                    <br />
                    <br />
                    <a asp-page="/RPesadas/RPesadasI" class="btn btn-primary">Click</a>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-2">
        <br />
    </div>
    <div class="container-fluid">
        <div class="card-container row justify-content-center">

            <!-- Card 3 -->
            <div class="card col-8 col-md-3 col-sm-12" asp-page="/RConsumo/RConsumosI">
                <a asp-page="/RConsumo/RConsumosI">
                <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                     class="card-img-top" alt="10px">
                <div class="card-body">
                    <h5 class="card-title"><strong>Reporte de consumo de alimento, medicina y diversos</strong></h5>
                    <br />
                    <a asp-page="/RConsumo/RConsumosI" class="btn btn-primary">Click</a>
                </div>
                </a>
            </div>

            <!-- Card 4 -->
            <div class="card col-8 col-md-3 col-sm-12">
                <a asp-page="/RCGranjas/RCGranjasI">
                <img src="https://img.freepik.com/vector-premium/logotipo-animales-granja-lechones-cerdo_119039-242.jpg?w=2000"
                     class="card-img-top" alt="10px">
                <div class="card-body">
                    <h5 class="card-title"><strong>Reporte de análisis cierre de granjas</strong></h5>
                    <br />
                    <br />
                    <a asp-page="/RCGranjas/RCGranjasI" class="btn btn-primary">Click</a>
                </div>
                </a>
            </div>
        </div>
    </div>





</body>
</html>



<style>


    .container {
        display: flex;
        justify-content: center;
        /* Centrado horizontal */
        align-items: center;
        /* Centrado vertical */

    }


    .container2 {
        display: flex;
        justify-content: center;
        /* Centrado horizontal */
        align-items: center;
        /* Centrado vertical */
    }


    .card:hover {
        /* Estilos cuando el mouse está sobre el card */
        transform: scale(1.1);
        /* Aumenta el tamaño del card al 110% */
    }


    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        /* Espacio entre tarjetas */
    }


    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .btn {
        color: white;
        background-color: #92002d;
        text-align: center;
        padding: 10px 20px;
        line-height: 12px;
    }


    a {
        color: black; /* Cambia por el color que desees */
        text-decoration: none; /* Para eliminar el subrayado predeterminado en los enlaces */
    }


  .card {
        border: 2px solid #92002d;
        border-radius: 10px; /* Esto redondeará los bordes de la tarjeta */
        box-shadow: 0 0 10px #92002d; /* Agrega una sombra roja */
    }

</style>