@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Sistema de Reportes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/custom.css"> <!-- Tus estilos personalizados -->
</head>

<body>
    <div class="container-fluid h-100 outer d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="panel border bg-white p-3">
                <div class="panel-heading text-center">
                    <h3 class="pt-3 font-weight-bold">Inicio de Sesión</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="username" type="text" placeholder="Usuario" required>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"
                                   class="text-danger">*Se requiere usuario*</small>
                        </div>
                        <div class="form-group">
                            <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="password" type="text" placeholder="Contraseña" required>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"
                                   class="text-danger">*Se requiere Contraseña*</small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4 w-100" asp-area="" asp-page="/Menu">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Otros elementos comunes, como pie de página o scripts -->
    <a asp-page="/Menu/MenuI">----------> Ingresar Menú <----------</a>

</body>

</html>

<style>
    .navbar {
        background-color: #92002d;
    }
</style>

